.modal-body {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


/* 리뷰버튼
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
} */

/* 리뷰버튼
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* 리뷰모달버튼
.modal-footer {
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}

/* 리뷰모달버튼 
.modal-footer .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
} 
.modal-footer .btn-primary:hover {
    background-color: #0056b3;
}
*/

.review {
    list-style-type: none;
    width: 900px;
   margin-left: 100px;
}

.review-item {
    display: flex;
    justify-content: space-between;
}

.review-icons {
    display: flex;
}

.layout{
    display: flex;
}

.content{
    margin-top: 70px;
    width: 500px;
    height: 250px;
    border: 1px solid #A4A4A4;
    color: #5e6472;
    padding: 20px;
}

.content::placeholder {
    text-align: center;
}

.submit_content{
    width: 450px;
    height: 100px;
    margin-top: 25px;
}

.review_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F9;
    width: 600px;
    height: 150px;
    text-align: center;
  }

.review_box_center{
    display: flex;
    justify-content: center;
}

.review_text{
    font-size: 14px;
    color: #5e6472;
}

  .line_review{
    width: 70vw;
    margin-left: 50px;
  }

.review_register_title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px; 
    margin-top:40px;
    text-align: center;
}

.review_register_pname{
    color: #A4A4A4;
    font-size: 18px;
    text-align: center;

}

.review-modal{
    margin-bottom: 50px;
}

.stars1 .ant-rate-star {
    margin-top: 10px;
    font-size: 40px; 
}

.modal {
    --bs-modal-width: 600px;
}

.btn.btn-outline-primary.btn-review,
.btn.btn-primary.btn-review {
    margin-bottom: 80px;
}

.loginUser b {
    margin-left: 10px;
    font-size: 18px;
}

.user_review_pname{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    border: 1px solid #A4A4A4;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 40px;
}

.user_review{
    color: #A4A4A4;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-left: 40px;
    caret-color: transparent; 
}

.user_review_rcontent{
    margin: 50px;
    flex-direction: row;
    font-size: 15px;
}
