.modal-body {
    padding: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 리뷰버튼 */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* 리뷰버튼 */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* 리뷰모달버튼 */
.modal-footer {
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}

/* 리뷰모달버튼 */
.modal-footer .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;
}

.review {
    list-style-type: none;
}

.review-item {
    display: flex;
    justify-content: space-between;
}

.review-icons {
    display: flex;
}

.layout{
    display: flex;
}

.content{
    width: 500px;
    height: 110px;
}

.submit_content{
    width: 450px;
    height: 100px;
    margin-top: 25px;
}



