* {
    font-family: noto-sans; 
  }
  
  .bg-body-tertiary {
    background-color: white !important;
  }
  
  .navbar-brand{
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    padding-left: 250px;
    padding-top: 15px;
    margin-bottom: 15px;
  }
  
  
  .menu-button{
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  
  .container-fluid{
  
    font-size: 15px;
   
  }
  
  .header_right1{
    justify-content: flex-end;
    width: 450px;
    display: flex;
    font-size: 17px;
  }
  
  .header_right2{
    justify-content: flex-end;
    width: 620px;
    display: flex;
    padding-right: 120px;
    gap:7px;
    color: #1675F2;
    display: flex;
  }
  
  /*
  .header_right1{
    justify-content: flex-end;
    width: 450px;
    display: flex;
    padding-top: 10px;
    gap:20px;
    font-size: 17px;
  }
  */

  
  
  /* .shop_item {
    font-size: 1px;
    font-family: noto-sans; 
    font-weight: bold;
    color: #eee; 
    background-color: transparent;
    border-bottom: 3px solid transparent; 
    transition: border-bottom 0.3s ease;
  }
   */
  .shop_item:hover {
    border-bottom: 3px solid #1675F2;
  }
  

  .shop_navbar{
    width: 390px;
    margin-right: initial;
    display: flex;
    justify-content: space-between;
    color: #A4A4A4;
    margin-top: 20px;
  }

  
  .shop_navbar .nav-link.active,
  .navbar-nav .nav-link.show {
    font-family: noto-sans; 
    color:#A4A4A4;
    height: initial;
  }
  
  .btn{
        margin-left: 20px;
        margin-top: 10px;
  }


/* 폼 컨트롤 스타일 */
.form-control {
  width: 290px;
  border-radius: 30px;
  font-size: 13px;
  padding-left: 30px;
  border-top-right-radius: 0; /* 오른쪽 위 보더값 제거 */
}

/* 고정된 네비게이션 바 스타일 */
.fixed-navbar {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  height: 90px;
  width: 100%;
  background-color: #1675F2;
}

/* 스티키 클래스가 추가될 때 스타일 */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
}

.navbar {
  padding: 0;
}
