.footer {
    background-color: #fff;
    color: #898989;
    font-size: 14px;
    line-height: 40px;
    margin-top: 300px;
}

.footerContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerRow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerLinks {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0; /* 마진 조정 */
}

.footerLinks li {
    margin-right: 10px; /* 리스트 아이템 간 간격 */
}

.footerLinks .icon {
    font-size: 24px; /* 아이콘 크기 조정 */
    margin-left: 10px; /* 아이콘과 텍스트 사이 간격 조정 */
}

.addressInfo {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* 주소 정보와의 간격 조정 */
}

icon {
    width: 10px;
    height: 10px;
}

.links li a {
    font-weight: bold;
    color: #898989; /* 회색 */
    text-decoration-line: none;
}