
/*전체화면(헤더포함)*/
.prodt_container{
    width: 100%;
    height: 100%;
    min-width: 1600px;
    position: relative;
}
/*전체화면(헤더미포함)*/
.sub_conts{
    width: 100%;
    min-width: 1200px;
    position: relative;
    margin: 0 auto 80px;
    padding-top: 40px;
}
/*카테고리명*/
.sub_conts h3{
    width: 1200px;
    margin: 50px auto 0;
    font-size: 46px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    color: #333;
}
/*카테고리 미포함 전체*/
.prodt_area {
  width: 1200px;
  margin: 0 auto 0;
  position: relative;
}
/*상품정렬*/
.cost_order {
    text-align: right;
    margin-top: 15px !important;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    list-style-type: none;
}
.cost_order > li {
    display: inline-block;
}
.cost_order > li:last-child::after {
    content: "";
    padding: 0
}
.cost_order > li::after {
    content: "|";
    padding: 0 5px 0 5px;
    font-size: 17px;
    color: #cccaca;
    vertical-align: middle;
}
.cost_order > li > a {
    display: inline-block;
    font-size: 17px;
    color: #707070;
}
.cost_order > li > a:link {
    color: #0d0d0d;
    text-decoration: none;
}
.cost_order > li > a:hover {
    color: #0f69de;
}
.cost_order > li > a.on_down_link {
    display: inline-block;
    font-size: 17px;
    color: #0f69de;
}
.cost_order > li > a.on_up_link {
    display: inline-block;
    font-size: 17px;
    color: #0f69de;
}
.cost_order > li > a.on_down_link:hover {
    display: inline-block;
    font-size: 17px;
    color: #0f69de;
}
.cost_order > li:last-child > a.on_up_link:hover {
    display: inline-block;
    font-size: 17px;
    color: #0f69de;
}

/*상품 리스트*/
ul.prodt_lst {
    width: 1120px;
    margin: 0 auto; /* 가운데 정렬을 위해 */
    padding-top: 70px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
ul.prodt_lst:last-child {
    border-bottom: none;
}

/*상품 1개*/
ul.prodt_lst > li {
    width: 340px;
    display: inline-block;
    margin: 0 10px 40px 20px;
    transition: all 1.0s ease;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .0);     
}
ul.prodt_lst > li:hover {
    width: 340px;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.3);
}

ul.prodt_lst > li:hover strong {
  color: #0f69de;/*상품에 마우스 올리면 글자 색 변함*/
}

ul.prodt_lst > li > .prodt_Link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul.prodt_lst > li > .prodt_Link:link {
    color: #0d0d0d;
    text-decoration: none;
}
.prodt_Img {
    padding: 15px 0 0;
}
.prodt_Img img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease;
    vertical-align: middle;
}
ul.prodt_lst > li:hover .prodt_Img img {
    width: 100%;
}
.prodt_Info {
    margin-top: 0px;
    text-align: center;
}
.prodt_Info strong {
    display: block;
    margin-top: 5px;
    font-size: 37px;
    font-weight: 500;
}
.prodt_Info em {
    display: block;
    margin-top: -10px;
    font-size: 20px;
    font-style: normal;
}