/* Adjustments for smoother scrolling */
body {
    overflow-x: hidden; /* 수평 스크롤 막기 */
    overflow-y: scroll; /* 수직 스크롤 사용 */
    margin: 0;
    padding: 0;
    position: relative; /* body를 relative로 설정하여 자식 요소의 위치를 조정 */
}

.first-words {
    position: absolute;
    top: 10%; /* 이미지와 겹치지 않는 위치로 조정 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* 이미지보다 위에 표시되도록 설정 */
}

.baseImg, .overToBaseImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; /* 이미지의 너비를 60%로 설정 */
    height: 40%; /* 이미지의 높이를 40%로 설정 */
}

.baseImg img, .overToBaseImg img {
    width: 100%; /* 이미지의 너비를 100%로 설정하여 부모 요소에 맞춤 */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
    object-fit: cover; /* 이미지가 자식 요소의 영역을 가득 채우도록 함 */
}

.baseImg {
    z-index: 1; /* 기본 이미지는 아래쪽에 */
    mix-blend-mode: multiply; /* 이미지들을 포개게 만들기 위해 blend mode 사용 */
}

.overToBaseImg {
    position: absolute;
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    z-index: 2; /* 겹치는 이미지는 위쪽에 */
    bottom: 0; /* 부모 요소의 바닥에 위치 */
}
