 /* .grid > div {
    padding: 0;
}

.grid > div::before {
    content: "";
    display: block;
}

.grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.one,
.two,
.four,
.six,
.three {
    margin: 20px; 
    height: 700px;
    width: 900px;
    display: grid;
    gap: 0;
    position: relative;
}

.two > img,
.three > img,
.four > img,
.five > img,
.six > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.one > img{
    width: 70%;
} 
 */
